@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Serif:ital@1&family=Poppins:wght@100&family=Roboto:wght@700&display=swap');

*{
    text-align: justify;
    font-family: 'Noto Sans', sans-serif;
}


.bannerBgImage {
    height: 100vh;
    background-image: url("/BI.jpg");
    background-size: cover;
    position: relative;
}

.bannerText {
    text-align: right;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.bannerTitle {
    font-size: 4rem;
}

.bannerDesc {
    font-size: 2rem;
}

.card {
    cursor: pointer;

}

.card:hover {
    background-color: rgb(178, 208, 237);
    border: 2px solid rgb(60, 7, 134);
}

.bIcon {
    width: 100px;
    text-align: center;
    font-size: 40px;
}

.img-fluid:hover {
    border: 2px solid rgb(202, 153, 232);
   
}

.card-img-top {
    height: 50vh;
}

.text-center{
    color: #070961;
}

.card-title{
    color: rgb(13, 6, 90);
}

body{
    background-color: #E9F1FA;
}

.navbar-custom{
    background-color: #00ABE4;
}

.container-fluid{
    background-color: #00ABE4;
   
}

